@import "tailwindcss";
@import "tw-animate-css";
@import "../../node_modules/react-grid-layout/css/styles.css";
@import "../../node_modules/react-resizable/css/styles.css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: #f7f2f2;
    --foreground: oklch(0.145 0 0);
    --card: white;
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --font-sans: system-ui, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 1.75rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: hsl(210, 20%, 96%);
    --shadow-2xs: 0px 8px 12px 0px hsl(210 20% 96% / 0.2);
    --shadow-xs: 0px 8px 12px 0px hsl(210 20% 96% / 0.2);
    --shadow-sm: 0px 8px 12px 0px hsl(210 20% 96% / 0.4),
        0px 1px 2px -1px hsl(210 20% 96% / 0.4);
    --shadow: 0px 8px 12px 0px hsl(210 20% 96% / 0.4),
        0px 1px 2px -1px hsl(210 20% 96% / 0.4);
    --shadow-md: 0px 8px 12px 0px hsl(210 20% 96% / 0.4),
        0px 2px 4px -1px hsl(210 20% 96% / 0.4);
    --shadow-lg: 0px 8px 12px 0px hsl(210 20% 96% / 0.4),
        0px 4px 6px -1px hsl(210 20% 96% / 0.4);
    --shadow-xl: 0px 8px 12px 0px hsl(210 20% 96% / 0.4),
        0px 8px 10px -1px hsl(210 20% 96% / 0.4);
    --shadow-2xl: 0px 8px 12px 0px hsl(210 20% 96% / 1);
    --tracking-normal: 0.25px;
    --spacing: 0.25rem;
}

.dark {
    --background: #090c10;
    --foreground: oklch(0.985 0 0);
    --card: #0d1117;
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: #21262d;
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --font-sans: system-ui, sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 1.75rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.6;
    --shadow-color: hsl(220, 10%, 5%);
    --shadow-2xs: 0px 8px 12px 0px hsl(220 10% 5% / 0.3);
    --shadow-xs: 0px 8px 12px 0px hsl(220 10% 5% / 0.3);
    --shadow-sm: 0px 8px 12px 0px hsl(220 10% 5% / 0.6),
        0px 1px 2px -1px hsl(220 10% 5% / 0.6);
    --shadow: 0px 8px 12px 0px hsl(220 10% 5% / 0.6),
        0px 1px 2px -1px hsl(220 10% 5% / 0.6);
    --shadow-md: 0px 8px 12px 0px hsl(220 10% 5% / 0.6),
        0px 2px 4px -1px hsl(220 10% 5% / 0.6);
    --shadow-lg: 0px 8px 12px 0px hsl(220 10% 5% / 0.6),
        0px 4px 6px -1px hsl(220 10% 5% / 0.6);
    --shadow-xl: 0px 8px 12px 0px hsl(220 10% 5% / 0.6),
        0px 8px 10px -1px hsl(220 10% 5% / 0.6);
    --shadow-2xl: 0px 8px 12px 0px hsl(220 10% 5% / 1.5);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);

    --breakpoint-xs: 341px;
    --breakpoint-sm: 375px;
    --breakpoint-md: 801px;
    --breakpoint-lg: 1201px;
}

/* Base Layer */
@layer base {
    * {
        @apply border-border outline-ring/50 box-border;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}

body {
    @apply bg-background;
}

/* Animations */
@keyframes bar {
    0%,
    100% {
        height: 20%;
    }
    50% {
        height: 60%;
    }
}

@layer utilities {
    .animate-bar1 {
        animation: bar 0.85s ease-in-out infinite;
        transform-origin: center;
    }
    .animate-bar2 {
        animation: bar 1.26s ease-in-out infinite;
        transform-origin: center;
    }
    .animate-bar3 {
        animation: bar 0.62s ease-in-out infinite;
        transform-origin: center;
    }
}

/* React Grid Layout placeholder */
.react-grid-item.react-grid-placeholder {
    background: rgb(237, 233, 233) none repeat scroll 0% 0% / auto padding-box
        border-box;
    opacity: 1;
    user-select: none;
    border-radius: 32px;
    transition: 0.5s;
    user-select: none;
    z-index: 1;
    will-change: transform;
}

.dark .react-grid-item.react-grid-placeholder {
    background: rgb(28, 32, 37) none repeat scroll 0% 0% / auto padding-box
        border-box;
}

.react-grid-item {
    transition: all 0.5s ease;
}

/* Spotify */
.spotify-text {
    color: rgb(110, 210, 183);
}

.spotify-icon {
    width: 72px;
    height: auto;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .spotify-icon {
        width: 34px;
    }
}

@media (min-width: 1201px) {
    .spotify-icon {
        width: 52px;
    }

    .github-icon {
        width: 72px;
    }
}

/* Responsive Layout */
.responsive {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 1200px) {
    .responsive {
        max-width: 800px;
    }
}
@media (max-width: 799px) {
    .responsive {
        max-width: 375px;
    }
}
@media (max-width: 374px) {
    .responsive {
        max-width: 320px;
    }
}

/* Navbar */
.responsive-nav {
    width: 100%;
    height: 136px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5vw;
}

@media (max-width: 600px) {
    .responsive-nav {
        flex-direction: column;
        justify-content: center;
        height: 180px;
    }
    .responsive-nav img {
        margin: 36px 0 24px;
    }
}
